:root {
  --pto1: #000000;
  --pto2: #111111;
  --pto3: #2e2e2e;
  --bco1: #ffffff;
  --bco2: #b2b2b2;
  --aml1: #ffbf00;
  --gradiente1: linear-gradient(to right, #ffbf00, #f2a50c);
  --gradiente2: linear-gradient(to right, #ffb900, #e59317);
  --mrr1: #332200;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
p,
a,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
