.header-bg {
  background-color: #000000;
}

.logo {
  height: auto;
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 1200px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header-botao a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 1.2rem;
}
