.header-bg {
  background-color: var(--pto1);
}

.logo {
  height: auto;
  display: block;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 1200px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header-botao a {
  color: var(--bco1);
  display: inline-block;
  padding: 16px 0px;
  font-size: 1.2rem;
  position: relative;
}
.header-botao a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--bco1);
  margin-top: 4px;
  position: absolute;
}
.header-botao a:hover:after {
  width: 100%;
  transition: 0.3s;
}
/* RESPONSIVO */
@media (max-width: 800px) {
  .header-menu {
    gap: 15px;
  }
  .header-botao a {
    background-color: var(--pto2);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 0.875rem;
  }
  .header-botao a:hover {
    background: var(--pto3);
    border-radius: 4px;
    padding: 8px 12px;
  }
  .header-botao a:hover:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 15px;
  }
  .header-botao a {
    background-color: var(--pto2);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 0.875rem;
  }
  .header {
    justify-content: center;
    flex-direction: column;
  }
  .header-botao a:hover:after {
    display: none;
  }
}
