.img-introducao {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}
.main-bg {
  background-color: var(--pto1);
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  align-items: center;
}
.main {
  color: var(--bco1);
}
.main-titulo {
  font-size: 4rem;
  padding: 20px;
}
.main-texto {
  font-size: 1.5rem;
  padding: 20px;
}
