body {
  margin: 0;
  padding: 0;
  margin-bottom: 600px;
}
h1,
h2,
h3,
p,
a,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
