.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden;
  position: relative;
}
.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}
.depoimento-conteudo p {
  color: var(--cor-p5);
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.33;
  margin-bottom: 32px;
  max-width: 32ch;
}
.depoimento p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: 710px;
  top: 190px;
}
.depoimento p::after {
  content: "”";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
    position: relative;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}
